@{
    ViewData["Title"] = "Subida de archivos";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>

    <div class="file-reader">
        <!-- Acepta libros de Excel, libros con macros, libros binarios y libros de Excel 97-2003: -->
        <label class="form-label" for="customFile">Busque o suelte un archivo de Excel</label>
        <input type="file" class="form-control" id="inputExcel" accept=".xlsx, .xlsm, .xlsb, .xls" />

        <button class="btn btn-warning" onclick="mostrarDatos()">Mostrar datos de Excel</button>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <table id="tbData" class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Telefono</th>
                        <th>Correo</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function mostrarDatos(){
            const input = document.getElementById("inputExcel")

            const formData = new FormData()

            formData.append("ArchivoExcel",input.files[0])

            fetch("Home/MostrarDatos",{
                method: "POST",
                body:formData
            })
            .then((response) => { return response.json()})
            .then((dataJson) => {

                dataJson.forEach((item) => {
                    $("#tbData tbody").append(
                        $("<tr>").append(
                            $("<td>").text(item.nombre),
                            $("<td>").text(item.apellido),
                            $("<td>").text(item.telefono),
                            $("<td>").text(item.correo)
                        )

                    )
                })

            })
        }
    </script>

}